body {
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

.text-white {
    color: white;
}
a{
    font-weight: bold;
}

/* .sidebar {
    top: 0;
    background-image: url("images/church5.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 25vh;
    background-attachment: fixed;
    position: fixed;
    background-size: 100%;
    z-index: 1000;
    transition: transform 200ms ease;
}

.item-center {
    align-items: center;
    text-align: center;
    height: 10vh;
}

.header {
    width: 100%;
    height: 12vh;
}

.header-left {
    float: left;
    text-align: left;
    width: 20%;
    height: 12vh;
}

.header-right {
    float: right;
    text-align: right;
    width: 80%;
    height: 12vh;
}

.header-left .logo {
    padding-left: 5%;
    height: 12vh;
    width: 55%;
}

.navigation {
    padding-top: 4vh;
    padding-right: 0%;
}

.navigation li {
    display: inline-block;
    margin: 0 1%;
}

.navigation li:hover {
    border-bottom: 2px solid #fff;
}

.nav-active {
    border-bottom: 2px solid #fff;
}

a {
    text-decoration: none;
}

.main-a {
    color: #d1d1e0;
}

.main-a:visited {
    color: #d1d1e0;
}

.main-a:hover {
    color: #9966ff;
}

.middle {
    top: 25vh;
    width: 100%;
    height: 45%;
    margin-top: 0vh;
    position: relative;
}

.scroll-img {
    height: 30vh;
    width: 100%;
}

#image {
    height: 30vh;
    width: 100%;
}

.section-text {
    margin-top: 50vh;
    height: 20vh;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50vh;
}

.footer {
    width: 100%;
    height: 45vh;
    background-color: #334d4d;
    display: flex;
    padding: 20px 0px 20px 0px;
    color: #fff;
}

.footer-left {
    float: left;
    height: 45vh;
    width: 50%;
}

.footer-left li {
    display: block;
}
.footer li a{
    color: #1aa3ff;
}
.footer-right {
    float: right;
    height: 45vh;
    width: 50%;
}

#address {
    text-align: center;
    font-weight: bold;
}
.footer-img{
    height: 4vh;
    width: 4%;
}
.copyright {
    width: 100%;
    text-align: center;
    background-color: #334d4d;
    color: #fff;
}

.back {
    background-color: #334d4d;
}

.up-btn {
    border-radius: 50%;
    border: 1px solid black;
    background-color: #99ccff;
    width: 4%;
    height: 6vh;
    position: absolute;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.up-btn:hover {
    color: #000;
    background-color: #ffcccc;
}

.up-btn>svg {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translate(-50%);
    color: #000;
}

.up-button::before {
    background-color: #334d4d;

}

.mapouter {
    position: relative;
    text-align: right;
    width: 90%;
    height: 45vh;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 90%;
    height: 45vh;
}

.gmap_iframe {
    height: 45vh !important;
} */



/* @media (min-width: 360px) and (max-width: 500px) { */
     @media screen and (max-width: 720px){
        .sidebar {
            top: 0;
            background-image: url("images/church5.jpg");
            background-repeat: no-repeat;
            width: 100%;
            height: 25vh;
            background-attachment: fixed;
            position: fixed;
            background-size: 100%;
            z-index: 1000;
            transition: transform 200ms ease;
        }
        
        .item-center {
            align-items: center;
            text-align: center;
            height: 10vh;
        }
        .item-center h1 {
            font-size: 4vw;
        }
        .item-center h2{
            font-size: 4vw;
        }
        
        .header {
            width: 100%;
            height: 12vh;
        }
        
        .header-left {
            float: left;
            text-align: left;
            width: 15%;
            height: 12vh;
        }
        
        .header-right {
            float: right;
            text-align: right;
            width: 80%;
            height: 12vh;
            padding-right: 2%;
        }
        
        .header-left .logo {
            padding-left: 3%;
            padding-top: 1.5vh;
            height: 12vh;
            width: 100%;
        }

        .navigation{
            margin-top: 6vh;
        }
        .navigation li {
            display: inline-block;
            margin-left: 2%;
        }
        .navigation li:hover {
            border-bottom: 2px solid #fff;
        }
        
        .nav-active {
            border-bottom: 2px solid #fff;
        }
        
        a {
            text-decoration: none;
        }
    
        .main-a {
            color: #d1d1e0;
        }
        
        .main-a:visited {
            color: #d1d1e0;
        }
        
        .main-a:hover {
            color: #9966ff;
        }
      
        /* .welcome{
            padding-top: 23vh;
        } */
        .scroll-img {
            margin-top: 25vh;
            height: 53vh;
            width: 100%;
        }
        
        #image {
            width: 100%;
        }
        .fedup{
            height: 55vh;
        }
        .section-text {
            margin-top: 5vh;
            text-align: center;
            font-weight: 700;
        }
        
        .footer {
            margin-top: 25vh;
            width: 100%;
            height: 27vh;
            background-color: #334d4d;
            display: flex;
            padding: 20px 0px 20px 0px;
            color: #fff;
        }
        
        .footer-left {
            float: left;
            height: 27vh;
            width: 50%;
        }
        
        .footer-left li {
            display: block;
        }
        .footer li a{
            color: #1aa3ff;
        }
        .footer-right {
            float: right;
            height: 27vh;
            width: 50%;
        }
        
        #address {
            text-align: center;
            font-weight: bold;
        }
        .footer-img{
            height: 4vh;
            width: 7%;
        }
        .copyright {
            padding-top: 7vh;
            width: 100%;
            text-align: center;
            background-color: #334d4d;
            color: #fff;
        }
        
        .back {
            background-color: #334d4d;
            padding-top: 1vh;
        }
        
        .up-btn {
            border-radius: 50%;
            border: 1px solid black;
            background-color: #99ccff;
            width: 7%;
            height: 6vh;
            position: absolute;
            cursor: pointer;
            transition: 200ms ease-in-out;
        }
        
        .up-btn:hover {
            color: #000;
            background-color: #ffcccc;
        }
        
        .up-btn>svg {
            position: absolute;
            bottom: 2vh;
            transform: translate(-50%);
            color: #000;
        }
        
        .up-button::before {
            background-color: #334d4d;
        
        }
        
        .mapouter {
            position: relative;
            text-align: right;
            width: 90%;
            height: 30vh;
        }
        
        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            width: 90%;
            height: 30vh;
        }
        
        .gmap_iframe {
            height: 30vh !important;
        }
    }
     


/* @media (min-width: 360px) and (max-width: 500px) { */
    @media (min-width: 721px) and (max-width: 1080px){
            .sidebar {
                top: 0;
                background-image: url("images/church5.jpg");
                background-repeat: no-repeat;
                width: 100%;
                height: 25vh;
                background-attachment: fixed;
                position: fixed;
                background-size: 100%;
                z-index: 1000;
                transition: transform 200ms ease;
            }
            
            .item-center {
                align-items: center;
                text-align: center;
                height: 10vh;
            }
            .item-center h1 {
                font-size: 3vw;
            }
            .item-center h2{
                font-size: 3vw;
            }
            
            .header {
                width: 100%;
                height: 12vh;
            }
            
            .header-left {
                float: left;
                text-align: left;
                width: 15%;
                height: 12vh;
            }
            
            .header-right {
                float: right;
                text-align: right;
                width: 80%;
                height: 12vh;
                padding-right: 2%;
            }
            
            .header-left .logo {
                padding-left: 3%;
                padding-top: 1.5vh;
                height: 11vh;
                width: 100%;
            }
    
            .navigation{
                margin-top: 6vh;
            }
            .navigation li {
                display: inline-block;
                margin-left: 2%;
            }
            .navigation li:hover {
                border-bottom: 2px solid #fff;
            }
            
            .nav-active {
                border-bottom: 2px solid #fff;
            }
            
            a {
                text-decoration: none;
            }
        
            .main-a {
                color: #d1d1e0;
            }
            
            .main-a:visited {
                color: #d1d1e0;
            }
            
            .main-a:hover {
                color: #9966ff;
            }
          
            /* .welcome{
                padding-top: 23vh;
            } */
            .scroll-img {
                margin-top: 25vh;
                height: 53vh;
                width: 100%;
            }
            
            #image {
                width: 100%;
            }
            .fedup{
                height: 55vh;
            }
            .section-text {
                margin-top: 5vh;
                text-align: center;
                font-weight: 700;
            }
            
            .footer {
                margin-top: 25vh;
                width: 100%;
                height: 27vh;
                background-color: #334d4d;
                display: flex;
                padding: 20px 0px 20px 0px;
                color: #fff;
            }
            
            .footer-left {
                float: left;
                height: 27vh;
                width: 50%;
            }
            
            .footer-left li {
                display: block;
            }
            .footer li a{
                color: #1aa3ff;
            }
            .footer-right {
                float: right;
                height: 27vh;
                width: 50%;
            }
            
            #address {
                text-align: center;
                font-weight: bold;
            }
            .footer-img{
                height: 4vh;
                width: 7%;
            }
            .copyright {
                padding-top: 4vh;
                width: 100%;
                text-align: center;
                background-color: #334d4d;
                color: #fff;
            }
            
            .back {
                background-color: #334d4d;
                padding-top: 1vh;
            }
            
            .up-btn {
                border-radius: 50%;
                border: 1px solid black;
                background-color: #99ccff;
                width: 7%;
                height: 6vh;
                position: absolute;
                cursor: pointer;
                transition: 200ms ease-in-out;
            }
            
            .up-btn:hover {
                color: #000;
                background-color: #ffcccc;
            }
            
            .up-btn>svg {
                position: absolute;
                bottom: 2vh;
                transform: translate(-50%);
                color: #000;
            }
            
            .up-button::before {
                background-color: #334d4d;
            
            }
            
            .mapouter {
                position: relative;
                text-align: right;
                width: 90%;
                height: 30vh;
            }
            
            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                width: 90%;
                height: 30vh;
            }
            
            .gmap_iframe {
                height: 30vh !important;
            }
    }


@media (min-width: 1081px){
    .sidebar {
        top: 0;
        background-image: url("images/church5.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 25vh;
        background-attachment: fixed;
        position: fixed;
        background-size: 100%;
        z-index: 1000;
        transition: transform 200ms ease;
    }
    
    .item-center {
        align-items: center;
        text-align: center;
        height: 10vh;
    }
    .item-center h1 {
        font-size: 2vw;
    }
    .item-center h2{
        font-size: 2vw;
    }
    
    .header {
        width: 100%;
        height: 12vh;
    }
    
    .header-left {
        float: left;
        text-align: left;
        width: 15%;
        height: 12vh;
    }
    
    .header-right {
        float: right;
        text-align: right;
        width: 80%;
        height: 12vh;
        padding-right: 1%;
    }
    
    .header-left .logo {
        padding-left: 3%;
        height: 12vh;
        width: 90%;
    }

    .navigation{
        margin-top: 6vh;
    }
    .navigation li {
        display: inline-block;
        margin-left: 2%;
    }
    .navigation li:hover {
        border-bottom: 2px solid #fff;
    }
    
    .nav-active {
        border-bottom: 2px solid #fff;
    }
    
    a {
        text-decoration: none;
    }

    .main-a {
        color: #d1d1e0;
    }
    
    .main-a:visited {
        color: #d1d1e0;
    }
    
    .main-a:hover {
        color: #9966ff;
    }
  
    .scroll-img {
        margin-top: 25vh;
        height: 53vh;
        width: 100%;
    }
    
    #image {
        width: 100%;
    }
    .fedup{
        height: 55vh;
    }
    .section-text {
        margin-top: 15vh;
        text-align: center;
        font-weight: 700;
    }
    
    .footer {
        margin-top: 30vh;
        width: 100%;
        height: 35vh;
        background-color: #334d4d;
        display: flex;
        padding: 20px 0px 20px 0px;
        color: #fff;
    }
    
    .footer-left {
        float: left;
        height: 35vh;
        width: 50%;
    }
    
    .footer-left li {
        display: block;
    }
    .footer li a{
        color: #1aa3ff;
    }
    .footer-right {
        float: right;
        height: 35vh;
        width: 50%;
    }
    
    #address {
        text-align: center;
        font-weight: bold;
    }
    .footer-img{
        height: 4vh;
        width: 6%;
    }
    .copyright {
        padding-top: 4vh;
        width: 100%;
        text-align: center;
        background-color: #334d4d;
        color: #fff;
    }
    
    .back {
        background-color: #334d4d;
        padding-top: 1vh;
    }
    
    .up-btn {
        border-radius: 50%;
        border: 1px solid black;
        background-color: #99ccff;
        width: 5%;
        height: 6vh;
        position: absolute;
        cursor: pointer;
        transition: 200ms ease-in-out;
    }
    
    .up-btn:hover {
        color: #000;
        background-color: #ffcccc;
    }
    
    .up-btn>svg {
        position: absolute;
        bottom: 1vh;
        transform: translate(-50%);
        color: #000;
    }
    
    .up-button::before {
        background-color: #334d4d;
    
    }
    
    .mapouter {
        position: relative;
        text-align: right;
        width: 90%;
        height: 35vh;
    }
    
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 90%;
        height: 35vh;
    }
    
    .gmap_iframe {
        height: 35vh !important;
    }
}
