body {
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

.text-white {
    color: white;
}
a{
    font-weight: bold;
}

@media screen and (max-width: 720px){
    .sidebar-senbet {
        top: 0;
        background-image: url("../images/church5.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 21vh;
        background-attachment: fixed;
        position: fixed;
        background-size: 100%;
        z-index: 1000;
        transition: transform 200ms ease;
    }
    
    .item-center{
        align-items: center;
        text-align: center;
        height: 9vh;
    }
    .item-center h1{
        padding-top: 1vh;
        font-size: 4vw;
    }
    .item-center h2{
        font-size: 4vw;
    }
    .header {
        width: 100%;
        height: 10vh;
    }
    
    .header-left {
        float: left;
        text-align: left;
        width: 20%;
        height: 10vh;
    }
    
    .header-right {
        float: right;
        text-align: right;
        width: 80%;
        height: 10vh;
        padding-top: 4vh;
    }
    
    .header-left .logo {
        padding-left: 5%;
        height: 12vh;
        width: 100%;
        margin-bottom: 1vh;
    }
    .navigation {
        padding-right: 2%;
        padding-left: 1%;
    }
    .welcome{
        padding-top: 7vh;
    }
    .header-right .navigation li{
        display: inline-block;
        margin: 0 1%;
        font-size: 3vw;
    }
    .navigation li{
        font-size: 3vw;
    }    
    .mid-nav .navigation li {
        display: inline-block;
        margin: 0 1%;
        font-size: 3.2vw;
    }
    
    .navigation li:hover {
        border-bottom: 2px solid #fff;
    }
    
    .nav-active {
        border-bottom: 2px solid #fff;
    }
    
    a {
        text-decoration: none;
    }
    
    .main-a {
        color: #d1d1e0;
    }
    
    .main-a:visited {
        color: #d1d1e0;
    }
    
    .main-a:hover {
        color: #9966ff;
    }
    
    .mid{
        margin-top: 21vh;
    }
    .mid-sec{
        padding: 0%;
    }
    .mid-nav{
        width: 100%;
        background-color: #75a3a3;
        position: fixed;
        transition: transform 200ms ease;
        text-align: left;
        height: 7vh;
        padding: 0%;
        z-index: 1000;
    }
    .mid-nav.sticky{
        position: fixed;
        top: 0vh;
        padding-bottom: 2vh;
        height: 7vh;
    }
    .navigation li:hover{
        border-bottom: 2px solid #fff;
    }
    .nav-active{
        border-bottom: 2px solid #fff;
    }
    a{
        text-decoration: none;
    }
    #nav-text a{
        color: #004d4d;
    }
    #nav-text a:hover{
        color: #b3b3ff;
    }
    .welcome{
        font-weight: 600;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        padding-bottom: 3vh;
        padding-top: 10vh;
        font-size: 3.5vw;
    }
    .mid-text{
        font-size: 4vw;
    }
    .mid-main{
        padding-top: 0vh;
        padding-left: 3%;
        padding-right: 3%;
    }
    .mid-main h3{
        text-align: center;
    }
    .top-nav a{
        color: #cc0044;
    }
    .card-li{
        text-align: left;
        font-weight: 500;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
        align-items: center;
    }
    .card-list{
        display: flex;
        flex-direction: row;
        padding: 3vh 1%;
        gap: min(3%, 4%);
    }
    .card{
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid lightgray;
        padding: min(2%, 3%);
        border-radius: 5%;
        transition: 300ms ease-in-out;
        box-shadow: 0px 0px 6px -2px;
        width: 33%;
    }
    .card:hover{
        background-color: #00264d;
        color: #fff;
    }
    .card:hover .card-text{
        color: #fff;
    }
    .card:hover .card-img{
        filter: brightness(100);
    }
    .card-img{
        width: 40%;
        transition: 10ms ease-in-out;
        height: 30vh;
    }
    .card-title{
        text-transform: uppercase;
        font-size: 3vw;
        letter-spacing: 0.5px;
        text-align: center;
    }
    .card-text{
        font-size: 3vw;
        text-align: left;
        font-weight: 100;
        color: #000;
        transition: 300ms ease-in-out;
    }
    .footer {
        width: 100%;
        height: 27vh;
        background-color: #334d4d;
        display: flex;
        padding: 20px 0px 20px 0px;
        color: #fff;
    }
    
    .footer-left {
        float: left;
        height: 27vh;
        width: 50%;
    }
    
    .footer-left li {
        display: block;
    }
    .footer li a{
        color: #1aa3ff;
    }
    .footer-right {
        float: right;
        height: 27vh;
        width: 50%;
    }
    
    #address {
        text-align: center;
        font-weight: bold;
    }
    .footer-img{
        height: 4vh;
        width: 7%;
    }
    .copyright {
        padding-top: 7vh;
        width: 100%;
        text-align: center;
        background-color: #334d4d;
        color: #fff;
    }
    
    .back {
        background-color: #334d4d;
        padding-top: 1vh;
    }
    
    .up-btn {
        border-radius: 50%;
        border: 1px solid black;
        background-color: #99ccff;
        width: 7%;
        height: 6vh;
        position: absolute;
        cursor: pointer;
        transition: 200ms ease-in-out;
    }
    
    .up-btn:hover {
        color: #000;
        background-color: #ffcccc;
    }
    
    .up-btn>svg {
        position: absolute;
        bottom: 2vh;
        transform: translate(-50%);
        color: #000;
    }
    
    .up-button::before {
        background-color: #334d4d;
    
    }
    
    .mapouter {
        position: relative;
        text-align: right;
        width: 90%;
        height: 30vh;
    }
    
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 90%;
        height: 30vh;
    }
    
    .gmap_iframe {
        height: 30vh !important;
    }
}

@media (min-width: 721px) and (max-width: 1080px){
    .sidebar-senbet {
        top: 0;
        background-image: url("../images/church5.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 21vh;
        background-attachment: fixed;
        position: fixed;
        background-size: 100%;
        z-index: 1000;
        transition: transform 200ms ease;
    }
    
    .item-center{
        align-items: center;
        text-align: center;
        height: 8vh;
    }
    .item-center h1{
        font-size: 3.5vw;
    }
    .item-center h2{
        font-size: 3.5vw;
    }
    .header {
        width: 100%;
        height: 10vh;
    }
    
    .header-left {
        float: left;
        text-align: left;
        width: 20%;
        height: 10vh;
    }
    
    .header-right {
        float: right;
        text-align: right;
        width: 80%;
        height: 10vh;
        padding-top: 3vh;
    }
    
    .header-left .logo {
        padding-left: 2%;
        height: 12vh;
        width: 90%;
    }
    .navigation {
        padding-right: 2%;
        padding-left: 1%;
    }
    .header-right .navigation li{
        display: inline-block;
        margin: 0 1%;
        font-size: 3vw;
        padding-top: 2vh;
    }
    .mid-nav .navigation li {
        display: inline-block;
        margin: 0 1%;
        font-size: 2.5vw;
    }

    .navigation li:hover {
        border-bottom: 2px solid #fff;
    }
    
    .nav-active {
        border-bottom: 2px solid #fff;
    }
    
    a {
        text-decoration: none;
    }
    
    .main-a {
        color: #d1d1e0;
    }
    
    .main-a:visited {
        color: #d1d1e0;
    }
    
    .main-a:hover {
        color: #9966ff;
    }
    
    .mid{
        margin-top: 21vh;
    }
    .mid-sec{
        padding: 0%;
    }
    .mid-nav{
        width: 100%;
        background-color: #75a3a3;
        position: fixed;
        transition: transform 200ms ease;
        text-align: left;
        height: 7vh;
        padding: 0%;
        z-index: 1000;
    }
    .mid-nav.sticky{
        position: fixed;
        top: 0vh;
        padding-bottom: 2vh;
        height: 7vh;
    }
    .navigation li:hover{
        border-bottom: 2px solid #fff;
    }
    .nav-active{
        border-bottom: 2px solid #fff;
    }
    a{
        text-decoration: none;
    }
    #nav-text a{
        color: #004d4d;
    }
    #nav-text a:hover{
        color: #b3b3ff;
    }
    .welcome{
        font-weight: 600;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        padding-bottom: 4vh;
        padding-top: 7vh;
        font-size: 3vw;
    }
    .mid-main{
        padding-left: 3%;
        padding-right: 3%;
    }
    .mid-main h3{
        text-align: center;
    }
    .mid-text{
        font-size: 2.7vw;
    }
    .top-nav a{
        color: #cc0044;
    }
    .card-li{
        text-align: left;
        font-weight: 500;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
        align-items: center;
    }
    .card-list{
        display: flex;
        flex-direction: row;
        padding: 3vh 1%;
        gap: min(3%, 4%);
    }
    .card{
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid lightgray;
        padding: min(2%, 3%);
        border-radius: 5%;
        transition: 300ms ease-in-out;
        box-shadow: 0px 0px 6px -2px;
        width: 33%;
    }
    .card:hover{
        background-color: #00264d;
        color: #fff;
    }
    .card:hover .card-text{
        color: #fff;
    }
    .card:hover .card-img{
        filter: brightness(100);
    }
    .card-img{
        width: 40%;
        transition: 10ms ease-in-out;
        height: 30vh;
    }
    .card-title{
        text-transform: uppercase;
        font-size: 3vw;
        letter-spacing: 0.5px;
        text-align: center;
    }
    .card-text{
        font-size: 2.5vw;
        text-align: left;
        font-weight: 100;
        color: #000;
        transition: 300ms ease-in-out;
    }    
    .footer {
        width: 100%;
        height: 27vh;
        background-color: #334d4d;
        display: flex;
        padding: 20px 0px 20px 0px;
        color: #fff;
    }
    
    .footer-left {
        float: left;
        height: 27vh;
        width: 50%;
    }
    
    .footer-left li {
        display: block;
    }
    .footer li a{
        color: #1aa3ff;
    }
    .footer-right {
        float: right;
        height: 27vh;
        width: 50%;
    }
    
    #address {
        text-align: center;
        font-weight: bold;
    }
    .footer-img{
        height: 4vh;
        width: 7%;
    }
    .copyright {
        padding-top: 4vh;
        width: 100%;
        text-align: center;
        background-color: #334d4d;
        color: #fff;
    }
    
    .back {
        background-color: #334d4d;
        padding-top: 1vh;
    }
    
    .up-btn {
        border-radius: 50%;
        border: 1px solid black;
        background-color: #99ccff;
        width: 7%;
        height: 6vh;
        position: absolute;
        cursor: pointer;
        transition: 200ms ease-in-out;
    }
    
    .up-btn:hover {
        color: #000;
        background-color: #ffcccc;
    }
    
    .up-btn>svg {
        position: absolute;
        bottom: 2vh;
        transform: translate(-50%);
        color: #000;
    }
    
    .up-button::before {
        background-color: #334d4d;
    
    }
    
    .mapouter {
        position: relative;
        text-align: right;
        width: 90%;
        height: 30vh;
    }
    
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 90%;
        height: 30vh;
    }
    
    .gmap_iframe {
        height: 30vh !important;
    }
}
@media (min-width: 1081px){
    .sidebar-senbet {
        top: 0;
        background-image: url("../images/church5.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 21vh;
        background-attachment: fixed;
        position: fixed;
        background-size: 100%;
        z-index: 1000;
        transition: transform 200ms ease;
    }
    
    .item-center{
        align-items: center;
        text-align: center;
        height: 6vh;
    }
    .item-center h1{
        font-size: 2vw;
    }
    .item-center h2{
        font-size: 2vw;
    }
    .header {
        width: 100%;
        height: 14vh;
    }
    
    .header-left {
        float: left;
        text-align: left;
        width: 20%;
        height: 12vh;
    }
    
    .header-right {
        float: right;
        text-align: right;
        width: 80%;
        height: 12vh;
        padding-top: 2vh;
    }
    
    .header-left .logo {
        /* padding-left: 5%; */
        height: 12.5vh;
        width: 60%;
    }
    
    .navigation li {
        display: inline-block;
        margin: 0 1%;
    }
    
    .navigation li:hover {
        border-bottom: 2px solid #fff;
    }
    
    .nav-active {
        border-bottom: 2px solid #fff;
    }
    
    a {
        text-decoration: none;
    }
    .header-right .navigation{
        padding-top: 1vh;
        padding-right: 2%;
    }
    .mid-nav .navigation{
        padding-left: 1%;
    }
    .main-a {
        color: #d1d1e0;
    }
    
    .main-a:visited {
        color: #d1d1e0;
    }
    
    .main-a:hover {
        color: #9966ff;
    }
    
    .mid{
        margin-top: 21vh;
    }
    .mid-sec{
        padding: 0%;
    }
    .mid-nav{
        width: 100%;
        background-color: #75a3a3;
        position: fixed;
        transition: transform 200ms ease;
        text-align: left;
        height: 7vh;
        z-index: 1000;
    }
    .mid-nav.sticky{
        position: fixed;
        top: 0vh;
        padding-bottom: 2vh;
        height: 7vh;
    }
    
    #nav-text a{
        color: #004d4d;
    }
    #nav-text a:hover{
        color: #b3b3ff;
    }
    #wel{
        padding-top: 5vh;
    }
    .welcome{
        font-weight: 600;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        padding-bottom: 4vh;
        padding-top: 10vh;
    }
    .mid-main{
        padding-top: 0vh;
        padding-left: 3%;
        padding-right: 3%;
    }
    .mid-main h3{
        text-align: center;
    }
    .top-nav a{
        color: #cc0044;
    }
    .card-li{
        text-align: left;
        font-weight: 500;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
        align-items: center;
    }
    .card-list{
        display: flex;
        flex-direction: row;
        padding: 3vh 1%;
        gap: min(3%, 4%);
    }
    .card{
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid lightgray;
        padding: min(2%, 3%);
        border-radius: 5%;
        transition: 300ms ease-in-out;
        box-shadow: 0px 0px 6px -2px;
        width: 33%;
    }
    .card:hover{
        background-color: #00264d;
        color: #fff;
    }
    .card:hover .card-text{
        color: #fff;
    }
    .card:hover #value{
        filter: brightness(100);
    }
    .card-img{
        width: 40%;
        transition: 10ms ease-in-out;
        height: 30vh;
    }
    .card-title{
        text-transform: uppercase;
        font-size: 2vw;
        letter-spacing: 0.5px;
        text-align: center;
    }
    .card-text{
        font-size: 1.5vw;
        text-align: left;
        font-weight: 100;
        color: #000;
        transition: 300ms ease-in-out;
    }
   
    .footer {
        width: 100%;
        height: 35vh;
        background-color: #334d4d;
        display: flex;
        padding: 20px 0px 20px 0px;
        color: #fff;
    }
    
    .footer-left {
        float: left;
        height: 35vh;
        width: 50%;
    }
    
    .footer-left li {
        display: block;
    }
    .footer li a{
        color: #1aa3ff;
    }
    .footer-right {
        float: right;
        height: 35vh;
        width: 50%;
    }
    
    #address {
        text-align: center;
        font-weight: bold;
    }
    .footer-img{
        height: 4vh;
        width: 7%;
    }
    .copyright {
        padding-top: 4vh;
        width: 100%;
        text-align: center;
        background-color: #334d4d;
        color: #fff;
    }
    
    .back {
        background-color: #334d4d;
        padding-top: 1vh;
    }
    
    .up-btn {
        border-radius: 50%;
        border: 1px solid black;
        background-color: #99ccff;
        width: 5%;
        height: 6vh;
        position: absolute;
        cursor: pointer;
        transition: 200ms ease-in-out;
    }
    
    .up-btn:hover {
        color: #000;
        background-color: #ffcccc;
    }
    
    .up-btn>svg {
        position: absolute;
        bottom: 1vh;
        transform: translate(-50%);
        color: #000;
    }
    
    .up-button::before {
        background-color: #334d4d;
    
    }
    
    .mapouter {
        position: relative;
        text-align: right;
        width: 90%;
        height: 35vh;
    }
    
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 90%;
        height: 35vh;
    }
    
    .gmap_iframe {
        height: 35vh !important;
    }
}

/* #alama{
    font-size: 14px;
} */

/* .middle:after{
    width: 100%;
    height: 3%;
    position: fixed;
    z-index: 1000;
    transition: transform 200ms ease;
    
} */


/*.header {
    width: 100%;
    height: 12vh;
}

.header-left {
    float: left;
    text-align: left;
    width: 20%;
    height: 12vh;
}

.header-right {
    float: right;
    text-align: right;
    width: 80%;
    height: 12vh;
}

.header-left .logo {
    padding-left: 5%;
    height: 12vh;
    width: 55%;
}

.navigation {
    padding-top: 4vh;
    padding-right: 0%;
}

.navigation li {
    display: inline-block;
    margin: 0 1%;
}

.navigation li:hover {
    border-bottom: 2px solid #fff;
}

.nav-active {
    border-bottom: 2px solid #fff;
}

a {
    text-decoration: none;
}

.main-a {
    color: #d1d1e0;
}

.main-a:visited {
    color: #d1d1e0;
}

.main-a:hover {
    color: #9966ff;
}

.middle {
    top: 25vh;
    width: 100%;
    height: 45%;
    margin-top: 0vh;
    position: relative;
}

.scroll-img {
    height: 30vh;
    width: 100%;
}

#image {
    height: 30vh;
    width: 100%;
}

.section-text {
    margin-top: 50vh;
    height: 20vh;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50vh;
}

.footer {
    width: 100%;
    height: 45vh;
    background-color: #334d4d;
    display: flex;
    padding: 20px 0px 20px 0px;
    color: #fff;
}

.footer-left {
    float: left;
    height: 45vh;
    width: 50%;
}

.footer-left li {
    display: block;
}
.footer li a{
    color: #1aa3ff;
}
.footer-right {
    float: right;
    height: 45vh;
    width: 50%;
}

#address {
    text-align: center;
    font-weight: bold;
}
.footer-img{
    height: 4vh;
    width: 4%;
}
.copyright {
    width: 100%;
    text-align: center;
    background-color: #334d4d;
    color: #fff;
}

.back {
    background-color: #334d4d;
}

.up-btn {
    border-radius: 50%;
    border: 1px solid black;
    background-color: #99ccff;
    width: 4%;
    height: 6vh;
    position: absolute;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.up-btn:hover {
    color: #000;
    background-color: #ffcccc;
}

.up-btn>svg {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translate(-50%);
    color: #000;
}

.up-button::before {
    background-color: #334d4d;

}

.mapouter {
    position: relative;
    text-align: right;
    width: 90%;
    height: 45vh;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 90%;
    height: 45vh;
}

.gmap_iframe {
    height: 45vh !important;
}
a{
    font-weight: bold;
}
*/